*.csproj
*.sln
*.pidb
*.userprefs
Temp/
Library/AssetServerCacheV3
Library/metadata/
Library/BuildSettings.asset
Library/AssetVersioning.db
Library/AnnotationManager
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/FailedAssetImports.txt
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ScriptAssemblies/
Library/ScriptMapper
Library/assetDatabase3
Library/guidmapper
Library/expandedItems